set default=0
set timeout=8

loadfont unicode
insmod all_video
insmod gfxterm
set gfxmode=1280x720
set gfxpayload=keep
terminal_output gfxterm

if [ -e $prefix/theme/theme.txt ]; then
  set theme=$prefix/theme/theme.txt
fi

menuentry "Lumo OS" --class lumo {
  linux /live/vmlinuz boot=live components quiet
  initrd /live/initrd
}

menuentry "Lumo OS (safe graphics)" --class lumo {
  linux /live/vmlinuz boot=live components quiet nomodeset
  initrd /live/initrd
}

menuentry "Lumo OS (failsafe: verbose console)" --class lumo {
  linux /live/vmlinuz boot=live components nomodeset
  initrd /live/initrd
}

submenu "Advanced ->" {
  menuentry "Lumo OS (RAM report + autologin, for automated testing)" {
    linux /live/vmlinuz boot=live components quiet lumo.test=1
    initrd /live/initrd
  }
  menuentry "Boot from next volume" {
    exit 1
  }
  menuentry "UEFI Firmware Settings" {
    fwsetup
  }
}
